* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  

}

::-webkit-scrollbar{
  display: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px black solid;
  text-align: center;

}


.header th{
  background-color: #af4c6f;
  color: white;
  font-size: 25px;

}
tr:nth-child(even) {
  background-color: #96f1d6;
}

